<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <variable name="LOG_TO_FILE_SQL_LOG_LEVEL" value="${SQL_LOG_LEVEL:-WARN}"/>
    <variable name="LOG_TO_FILE_BASIC_BINDER_LOG_LEVEL" value="${BASIC_BINDER_LOG_LEVEL:-WARN}"/>
    <variable name="LOG_TO_FILE_COMMONS_REQUEST_LOGGING_FILTER_LOG_LEVEL" value="${COMMONS_REQUEST_LOGGING_FILTER_LOG_LEVEL:-WARN}"/>
    <variable name="LOG_TO_FILE_LOG_LEVEL" value="${LOG_LEVEL:-INFO}"/>
    <variable name="LOG_FOLDER" value="${BASE_LOG_FOLDER:-mislogs}"/>

    <springProperty name="applicationName" source="spring.application.name"/>

    <springProfile name="log-to-file">
        <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- Archivo principal siempre activo -->
            <file>${LOG_FOLDER}/${applicationName}/${applicationName}.log</file>

            <!-- Codificación de línea de log -->
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
              <!--   <Pattern>[%d{yyyy-MM-dd HH:mm:ss}] %X{processName}.%level: processName: %X{processName}, uti: %X{uti}, parameters: %msg%n</Pattern> -->
                <Pattern>[%d{yyyy-MM-dd HH:mm:ss}] %X{processName}.%level: process: %X{processName}, uti: %X{uti}, parameters: %msg%n</Pattern>
            </encoder>

            <!-- Política de rotación por día y limpieza de archivos > 7 días -->
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FOLDER}/${applicationName}/${applicationName}-%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>2</maxHistory>
                <cleanHistoryOnStart>true</cleanHistoryOnStart>
            </rollingPolicy>
        </appender>

        <root level="WARN">
            <appender-ref ref="RollingFile"/>
        </root>
        <logger name="mc.monacotelecom" level="INFO"/>
    </springProfile>

    <springProfile name="!output-logs-as-json">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="mc.monacotelecom" level="INFO"/>
    </springProfile>

    <springProfile name="output-logs-as-json">
        <springProperty scope="context" name="SPRING_APPLICATION_NAME" source="spring.application.name"/>
        <springProperty scope="context" name="MAVEN_PROJECT_VERSION" source="maven.project.version"/>
        <springProperty scope="context" name="GIT_COMMIT_ID" source="git.commit.id"/>

        <appender name="JSON_CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/>
                    <nestedField><fieldName>mdc</fieldName><providers><mdc/></providers></nestedField>
                    <nestedField><fieldName>markers</fieldName><providers><logstashMarkers/></providers></nestedField>
                    <tags/>
                    <nestedField>
                        <fieldName>logitem</fieldName>
                        <providers>
                            <loggerName/><threadName/><logLevel/><logLevelValue/><message/>
                           <!--  <stackTrace>
                                <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                                    <maxLength>8000</maxLength>
                                </throwableConverter>
                            </stackTrace> -->
                        </providers>
                    </nestedField>
                    <pattern>
                        <pattern>
                            {
                                "project": {
                                    "name": "${SPRING_APPLICATION_NAME:-}",
                                    "version": "${MAVEN_PROJECT_VERSION:-}",
                                    "git_hash": "${GIT_COMMIT_ID:-}"
                                },
                                "tracing": {
                                    "trace_id": "%X{traceId:-}",
                                    "span_id": "%X{spanId:-}",
                                    "parent_span_id": "%X{X-B3-ParentSpanId:-}",
                                    "exportable": "%X{X-Span-Export:-}"
                                },
                                "request": {
                                    "method": "%X{req.method:-}",
                                    "request_uri": "%X{req.requestURI:-}",
                                    "request_url": "%X{req.requestURL:-}",
                                    "remote_host": "%X{req.remoteHost:-}",
                                    "user_agent": "%X{req.userAgent:-}",
                                    "query_string": "%X{req.queryString:-}"
                                }
                            }
                        </pattern>
                    </pattern>
                </providers>
            </encoder>
        </appender>

        <root level="WARN">
            <appender-ref ref="JSON_CONSOLE_APPENDER"/>
        </root>
        <logger name="mc.monacotelecom" level="INFO"/>
    </springProfile>
</configuration>
